<%- include('./shared/header.ejs')%>

    <!--Page Title-->
    <section class="page-title pt-clr-no" style="background-image:url(https://www.fortune-oilfield.com/public/images/background/6.jpg)">
    	<div class="auto-container">
        	<ul class="page-breadcrumb">
            	<li><a href="https://www.fortune-oilfield.com/index">Home</a></li>
                <li>About Us</li>
            </ul>
        	<h1>About Us</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    
    <!--Company Section-->
    <section class="company-section" style="background:#fff;">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2 style=" color: #333;">Who We Are</h2>
                            <div class="separator centered"></div>
                        </div>
                        <div class="text">
							<p align="justify">Group company was established in 1997 in KSA as one of the Pioneers in supporting major Oil&amp; gas sector companies. Our knowledge and experience more than 25 years in the Oil &amp; Gas industry helps to expand our network of Offices in UAE, KSA, Bahrain, Oman and USA. Fortune Oilfield was established in Dubai in 2012 and providing a single point solution and a supplier to Oil &amp; Gas Industry in Middle East &amp; Far East. </p>
							<p align="justify">Variety of services now expanded to many sectors of Oil &amp; Gas and Marine industry making us a “Single Point Solution” for Oil &amp; Gas Industry such as: Fabrication of Accommodation Container, Tools Containers, MTU Skids, Man Lifting Basket, Gas Racks, Drill Pipe Baskets &amp; Rig Mats with certification to meet the standards of different regions. Our Services extend to Bunkering services, Wooden Packing, Galley, Crude Oil &amp; Product Tank Cleaning.</p>
							<p align="justify">	We represent several reputed American and European manufacturers and are in the process of diversifying further. Representation of world-renowned brands ensures the highest standards of product quality to our customers.  Our strength is that we are an organisation of experienced professionals from the industry.</p>
							<p align="justify">As one of the most diversified suppliers, FOGT can offer a wide range of supplies and services to *Drilling and Work-Over Operations *Oil Refineries *Gas &amp; Petrochemical Plants *Power &amp; Desalination Plants *Construction Companies. We are registered with most of the Oil &amp; Gas companies in the UAE, Water &amp; Electricity, Municipality, Dry Docks etc. Also, we deal with E.P.C companies and service companies.</p>
							<p align="justify">Furthermore, we have joint ventures with reputed international manufacturers and service providers.
								We are quality driven and to emphasis our quality, we are accredited with ISO 9001:2015. We strictly follow the standards of ISO to maintain the quality and performance of operation and to make sure the customer satisfaction. Fortune Oilfield is also a member of IADC.
							</p>
                        </div>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="image">
                        	<img src="public/images/company.jpg" alt="">
                        </div>
                        <div class="carousel-box">
                        	<div class="single-item-carousel owl-carousel owl-box">
                            
                                <div class="testimonial-block-six">
                                    <div class="inner">
                                        <div class="quote-icon">
                                            <span class="icon flaticon-left-quote-sketch"></span>
                                        </div>
                                        <div class="text">" We have the capabilities and vision to serve the needs of an evolving Oil &amp; Gas Industry "</div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                        <!--<p style="padding-top:25px;"></p>-->
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Company Section-->

    <!--About Section-->
    <section class="services-section-two" style="background:#fff;">
        <div class="auto-container">
            <div class="inner-container">
                <div class="clearfix">
                
                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-alarm-clock"></span>
                                </div>
                                <h3><a href="#">Creditable Integrity</a></h3>
                            </div>
                            <div class="lower-content">
                                <div class="content-inner">
                                    <div class="text">Fortune integrity is the trust it has created with the clients. It has been proved with the standards of quality &amp; time based supply to meet the needs of an evolving Oil &amp; Gas industry. Team Fortune is built on experienced personnel &amp; highly organized operational procedure. The Principles of Fortune are Quality, Trust &amp; Service.</div>
                                    <a href="#" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="upper-box">
                                <div class="icon-box">
                                   <span class="icon flaticon-engineer"></span>
                                </div>
                                <h3><a href="#">Effective Team Work</a></h3>
                            </div>
                            <div class="lower-content">
                                <div class="content-inner">
                                    <div class="text">Fortunes are created with team work &amp; we unit with diversified ideas to create better result. We have efficient team in different regions such as Texas, London, Dammam, Oman, Kuwait &amp; Iraqwith which ideas are shared to get better result. We entrust our team to be the best in business.</div>
                                    <a href="#" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-time"></span>
                                </div>
                                <h3><a href="#">Quality Assurance</a></h3>
                            </div>
                            <div class="lower-content">
                                <div class="content-inner">
                                    <div class="text">We are quality driven &amp; to emphasis our quality we are accredited with ISO 9001:2008 since 2012 which have been upgraded to ISO 9001:2015. We strictly follow the standards of ISO to monitor our performance &amp; generate feedback. Fortune is also a proud member IADC( International Association of Drilling Contractors).</div>
                                    <a href="#" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->


    <!--Company Section-->
    <section class="company-section" style="background:#fff;padding: 30px 0px;">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="sec-title">
                    <h2 style=" color: #333;">Our Certifications</h2>
                    <div class="separator centered"></div>
                </div>
                <!--Content Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="public/images/cer1.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="public/images/cer2.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>

<%- include('./shared/footer.ejs')%>