<%- include('./shared/header.ejs')%>

    <!--Page Title-->
    <section class="page-title pt-clr-no"
        style="background-image:url(https://www.fortune-oilfield.com/public/images/background/6.jpg)">
        <div class="auto-container">
            <ul class="page-breadcrumb">
                <li><a href="https://www.fortune-oilfield.com/index">Home</a></li>
                <li>About Us</li>
            </ul>
            <h1>About Us</h1>
        </div>
    </section>
    <!--End Page Title-->


    <!--Company Section-->
    <section class="company-section" style="background:#fff;">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2 style=" color: #333;">Who We Are</h2>
                            <div class="separator centered"></div>
                        </div>
                        <div class="text">
                            <p align="justify">Sun Petroleum Services was established in 2017 as one of the Pioneers to
                                support major Oil & gas sector companies in Sultanate OF Oman. SPS is a part of global
                                establishment for Oil & Gas industry with offices in USA, UAE & Saudi Arabia.</p>
                            <p align="justify">Variety of services now expanded to many sectors of Oil & Gas and Marine
                                industry making us a “Single Point Solution” for Oil & Gas Industry such as: Fabrication
                                of Accommodation Container, Tools Containers, MTU Skids, Man Lifting Basket, Gas Racks,
                                Drill Pipe Baskets & Rig Mats with certification to meet the standards of different
                                regions.</p>
                            <p align="justify">We represent several reputed American and European manufacturers and are
                                in the process of diversifying further. Representation of world-renowned brands ensures
                                the highest standards of product quality to our customers. Our strength is that we are
                                an organization of experienced professionals from the industry.</p>
                            <p align="justify">As one of the most diversified suppliers, SPS can offer a wide range of
                                supplies and services to *Drilling and Work-Over Operations *Oil Refineries *Gas &
                                Petrochemical Plants *Power & Desalination Plants *Construction Companies. We are
                                registered with most of the Oil & Gas companies in the UAE, Water & Electricity,
                                Municipality, Dry Docks etc. Also, we deal with E.P.C companies and service companies.
                            </p>
                            <p align="justify">We are quality driven and to emphasis our quality, we are accredited with
                                ISO. We strictly follow the standards of ISO to maintain the quality and performance of
                                operation and to make sure the customer satisfaction.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="public/images/aboutusnew.jpg" alt="">
                        </div>
                        <div class="carousel-box">
                            <div class="single-item-carousel owl-carousel owl-box">

                                <div class="testimonial-block-six">
                                    <div class="inner">
                                        <div class="quote-icon">
                                            <span class="icon flaticon-left-quote-sketch"></span>
                                        </div>
                                        <div class="text">" We have the capabilities and vision to serve the needs of an
                                            evolving Oil &amp; Gas Industry "</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<p style="padding-top:25px;"></p>-->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Company Section-->

    <!--About Section-->

    <!--End About Section-->


    <!--Company Section-->
    <!-- <section class="company-section" style="background:#fff;padding: 30px 0px;">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="sec-title">
                    <h2 style=" color: #333;">Our Certifications</h2>
                    <div class="separator centered"></div>
                </div>
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="public/images/cer1.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="public/images/cer2.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                
            </div>
        </div>
    </section> -->

    <%- include('./shared/footer.ejs')%>