<%- include('./shared/header.ejs')%>

    <!--Page Title-->
    <section class="page-title pt-clr-no" style="background-image:url(https://www.fortune-oilfield.com/public/images/background/6.jpg)">
        <div class="auto-container">
            <ul class="page-breadcrumb">
                <li><a href="https://www.fortune-oilfield.com/index">Home</a></li>
                <li>Services</li>
            </ul>
            <h1>Contact Us</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <section class="contact-section" style="background: #fff;">
    	<div class="auto-container">
        	
            <!--Title Box-->
            <div class="sec-title">
            	<div class="clearfix">
                	<div class="pull-left">
                    	<h2 style="color: #333;">Quick Contact</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="text">You have questions? Dont hesitate to contact us, Our supportteam here to <br> help you by 24*7.</div>
                </div>
            </div>
        
        	<div class="inner-container">
            	<div class="clearfix">
                	
                    <!--Info Column-->
                    <div class="info-column col-md-4 col-sm-12 col-xs-12">
                    	<div class="inner-column">
                             <div class="lower-box">
                            	<div class="lower-inner">
                                    <div class="image">
                                    	<img src="images/author-7.jpg" alt="">
                                    </div>
                                	<li><span class="icon flaticon-home"></span><strong>&nbsp;Address: </strong>Fortune Oilfield General Trading LLC P.O.Box: 122843</li>
                                </div>
                            </div>
                        	<div class="upper-box">
                            	<ul class="list-style-three">
                                	<li><span class="icon flaticon-technology-2"></span><strong>Call Us: </strong>(9714) 259 3456</li>
                                    <li><span class="icon flaticon-envelope-1"></span><strong>Mail Us: </strong>sales@fortune-oilfield.com</li>
                                    <li><span class="icon flaticon-time-1"></span><strong>Visit Our Office: </strong>
                                        Sun - Thu : 8.30 am to 5.30 pm<br>
                                        Saturday  : 9.00 am to 1.00 pm
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!--Form Column-->
                    <div class="form-column col-md-8 col-sm-12 col-xs-12">
                    	<div class="inner-column">
                        	
                            <!-- Contact Form -->
                            <div class="contact-form">
                                <!--Default Form-->
                                <form method="post" action="https://www.fortune-oilfield.com/contact_enquiry">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="name" value="" placeholder="Name">
                                        	<span></span>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="email" name="email" value="" placeholder="E-Mail">
											<span></span>
										</div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="mobile" value="" placeholder="Phone">
											<span></span>
										</div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="subject" value="" placeholder="Company">
											<span></span>
										</div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <textarea name="message" placeholder="Message"></textarea>
											<span></span>
										</div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button class="theme-btn submit-btn" type="submit" name="submit-form">Submit Now
												<span class="icon flaticon-right-arrow-1"></span></button>
                                        </div>
                                        
                                    </div>
                                </form>
                                    
                            </div>
                            <!--End Contact Form -->
                                            
                        </div>
                    </div>
                    
                </div>

                <div style="margin-top: 20px;"></div>
                <!--Map Outer-->
                <div class="map-outer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.762762042627!2d55.38230911492034!3d25.27856483459797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a697601ce0f7924!2sFortune+Oilfield+General+Trading+LLC!5e0!3m2!1sen!2sin!4v1537533454857" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>


            </div>
        </div>
    </section>

<%- include('./shared/footer.ejs')%>
