<%- include('./shared/header.ejs')%>
    <!--Page Title-->
    <section class="page-title shop-title" style="background-image:url(https://www.fortune-oilfield.com/public/images/background/6.jpg)">
        <div class="auto-container">
            <ul class="page-breadcrumb">
                <li><a href="https://www.fortune-oilfield.com/index">Home</a></li>
                <li>Products</li>
            </ul>
            <h1>Products</h1>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container" style="background: #f5f5f5;">
        <div class="auto-container">
            <div class="row clearfix">


                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <aside class="sidebar ">

                        <!-- Search -->
                        <!-- <div class="sidebar-widget search-box style-two">
                            <form method="post" action="https://www.fortune-oilfield.com/search">
                                <div class="form-group">
                                    <input type="text" name="search" placeholder="Search..." required="">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div> -->

                        <div class="sidebar-title">
                            <h2>Categories</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">

                                                                    <li>
                                        <a href="">Representation </a>
                                    </li>
                                                                    <li>
                                        <a href="">General Products </a>
                                    </li>
                                                                    <li>
                                        <a href="">Stockist </a>
                                    </li>
                                
                            </ul>
                        </div>

                        <!-- <div class="sidebar-title">
                            <h2>Our Brands</h2>
                        </div>

                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                                                    <li>
                                        <a href="brand_list/"> </a>
                                    </li>
                                
                            </ul>
                        </div>-->

                    </aside>
                </div>


                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <!--Shop Single-->
                    <div class="shop-section">

                        <!--Sort By-->
                        <div class="items-sorting">
                            <div class="row clearfix">
                                <div class="results-column col-md-6 col-sm-6 col-xs-12">
                                    <!--<h4>Showing 1-9 of 12 results</h4>-->
                                </div>
                                <div class="select-column pull-right col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <select name="sort-by" class="select_box_sort">
                                            <option selected="">Default Sorting</option>
                                            <option value="1">By Name</option>
                                            <!--<option value="2">By Price</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix product_list_container">

                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                <img src="public/images/product_image_psxguj.jpg" alt="" style="width: 268px;height: 229px;">
                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="http://www.fingersaver.co.uk/" target="_blank">Finger Saver</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="http://www.fingersaver.co.uk/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Finger Saver</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqmb73.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://www.advancedmatsystems.com/" target="_blank">Advanced Mat Systems Inc</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://www.advancedmatsystems.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Advanced Mat Systems Inc</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_qh3ly8.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://staircare.com.au/" target="_blank">Staircare (Anti Slip Products)</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://staircare.com.au/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Staircare (Anti Slip Products)</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqmbbx.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://socousa.com/" target="_blank">SOCO-Specialty Lubricants, Compounds, and Sealants for Valves, Pipelines, Threaded Connections and I</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://socousa.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">SOCO-Specialty Lubricants, Compounds, and Sealants for Valves, Pipelines, Threaded Connections and I</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pta685.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="http://www.contitech.us/pages/produkte/schlauchleitungen/industrial-hose/Conti-USA-IFS-Industrial-Hoses-Fittings-Catalog-2017.pdf#page=4" target="_blank">Contitech Hoses (Good Year)</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="http://www.contitech.us/pages/produkte/schlauchleitungen/industrial-hose/Conti-USA-IFS-Industrial-Hoses-Fittings-Catalog-2017.pdf#page=4" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Contitech Hoses (Good Year)</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqmbdh.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="http://ringersgloves.com/" target="_blank">Ringer Impact Gloves</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="http://ringersgloves.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Ringer Impact Gloves</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqmbfu.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://www.drillinginstruments.com/" target="_blank">Crown Oilfield Instrumentation</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://www.drillinginstruments.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Crown Oilfield Instrumentation</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqmbhm.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://www.highpressure.com/" target="_blank">HIP (High Pressure Fittings)</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://www.highpressure.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">HIP (High Pressure Fittings)</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                                                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12 product_container">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <div class="image">
                                                                                                    <img src="public/images/product_image_pqv8qh.jpg" alt="" style="width: 268px;height: 229px;">
                                                                                            </div>
											<div class="lower-content">
												<div class="price-box">
													<div class="row">
														<div class="col-sm-12 p-b-10">
															<h3 style="text-align: left;">
																<a href="https://www.kempervalve.com/" target="_blank">Kemper</a>
															</h3>
														</div>
														<div class="col-sm-12" style="text-align: left;">

															<a href="https://www.kempervalve.com/" target="_blank" class="viewmore">
																<span class="fa fa-eye"> view more </span>
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
                                    </div>
									<span class="name_cls" style="display: none;">Kemper</span>
									<span class="price_cls" style="display: none;">0</span>
                                </div>
                        </div>
						<ul class="styled-pagination text-center"><li><a class="active">1</a></li><li><a href="" data-ci-pagination-page="2">2</a></li><li class="next"><a href="" data-ci-pagination-page="2" rel="next"><span class="fa fa-angle-right"></span></a></li></ul>
					</div> <!--  End -Product  -->


                </div>
            </div>
        </div>
    </div>
    <script>
        $('body').on('change', '.select_box_sort', function () {

            var sort_id = $(".select_box_sort").val();
            console.log(sort_id);

            if (sort_id == 1) {
                var cont = $(".product_list_container");
                var arr = $.makeArray(cont.children(".product_container"));

                arr.sort(function (a, b) {

                    var textA = $(a).find('.name_cls').text();
                    var textB = $(b).find('.name_cls').text();


                    if (textA < textB) return -1;
                    if (textA > textB) return 1;


                    return 0;
                });

                cont.empty();
                $.each(arr, function () {
                    cont.append(this);
                });
            }

            if (sort_id == 2) {

                var cont = $(".product_list_container");
                var arr = $.makeArray(cont.children(".product_container"));
                arr.sort(function (a, b) {

                    var textA = +$(a).find('.price_cls').text();
                    var textB = +$(b).find('.price_cls').text();

                    if (textA < textB) return -1;
                    if (textA > textB) return 1;
                    return 0;
                });

                cont.empty();
                $.each(arr, function () {
                    cont.append(this);
                });
            }
        });

    </script>
<%- include('./shared/footer.ejs')%>