<%- include('./shared/header.ejs')%>

	<!--Page Title-->
	<section class="page-title pt-clr-no" style="background-image:url(https://www.fortune-oilfield.com/public/images/background/6.jpg)">
		<div class="auto-container">
			<ul class="page-breadcrumb">
				<li><a href="https://www.fortune-oilfield.com/index">Home</a></li>
				<li>Services</li>
			</ul>
			<h1>Our Services</h1>
		</div>
	</section>
	<!--End Page Title-->

	<!--Project Modern Section-->
	<section class="project-modern-section" style="background: #f5f5f5;">
		<div class="auto-container">
			<div class="row clearfix">

								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/fabrication-17">
																	<img src="public/images/main_image_ps1rc9.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/fabrication-17">Fabrication</a></h3>
							<div class="text">
								<b>Container :</b><br> 
Fortune Oilfield fabricates and refurbishes Tool Containers, Accommodation ...
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/fabrication-17" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/packing-cargo-lashing-3">
																	<img src="public/images/main_image_ps1s6f.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/packing-cargo-lashing-3">Packing &amp; Cargo lashing</a></h3>
							<div class="text">
								Cladding
Wooden packing materials, viz. Pallets, Cable Drums &amp; Boxes etc. and all kinds of White wo...
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/packing-cargo-lashing-3" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/bunkering-and-debunkering">
																	<img src="public/images/main_image_ps1spv.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/bunkering-and-debunkering">Bunkering and Debunkering</a></h3>
							<div class="text">
								Bunkering for offshore rigs &amp; vessels
Zero spillage diesel collection from offshore rigs &amp; vessels
...
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/bunkering-and-debunkering" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/refurbishment-services-for-oil-marine-field">
																	<img src="public/images/main_image_ps1stp.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/refurbishment-services-for-oil-marine-field">Refurbishment Services for Oil &amp; Marine Field</a></h3>
							<div class="text">
								Flooring:Deck covering , Epoxy linig ,Non-skid and safety decking , Protective coatings , Wet area f...
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/refurbishment-services-for-oil-marine-field" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/flushing-tank-cleaning">
																	<img src="public/images/main_image_ps1swp.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/flushing-tank-cleaning">Flushing &amp; Tank cleaning</a></h3>
							<div class="text">
								Low viscosity slurrysolid sludge and liquid sludge removal
Cleaning wash water recycling system fil...
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/flushing-tank-cleaning" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
								<div class="project-block-four style-two col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
							<a href="https://www.fortune-oilfield.com/service_details/rig-mats">
																	<img src="public/images/main_image_qh44mv.jpg" alt="">
															</a>
						</div>
						<div class="lower-content">
							<h3><a href="https://www.fortune-oilfield.com/service_details/rig-mats">Rig Mats</a></h3>
							<div class="text">
								Rig mats, another variety of access mats, may also known as wood and steel mats or steel frame mats....
							</div>
							<a href="https://www.fortune-oilfield.com/service_details/rig-mats" class="read-more">Read More <span class="icon flaticon-arrow-pointing-to-right"></span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!--End Project Modern Section-->

<%- include('./shared/footer.ejs')%>